@page "/"

<PageTitle>Index</PageTitle>

<nav>
    @*EX#17-1*@
    @*EX#11-1*@
    <button @onclick="ResetCanvas">Clean up</button>
    @*EX#6*@
</nav>

<div style="width: 100%; height: 100%; overflow: hidden; touch-action: none;">
    @*EX#1 Canvas*@
    <Canvas @ref="_canvas"
            id="@_PAINT_CANVAS"
            width="600"
            height="480"
            @onpointerdown="OnPointerDown"
            @onpointermove="OnPointerMove"
            @onpointerup="InternalPointerUp">
    </Canvas>
    @*EX#4 Pointer Events*@
</div>